@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/toothless');  

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: #11101d;
    transition: .5s ease;
    z-index: 100;
}

.sidebar.close{
    width: 70px;
}

.sidebar .nav-link{
    overflow: visible;
}

.sidebar .logo-detail{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.sidebar .logo-detail i{
    font-size: 45px;
    color: white;
    height: 50px;
    min-width: 70px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-detail .logo-name{
    font-size: 3em;
    color: white;
    transition: .3s ease;
    font-family: 'Toothless', serif;
    padding: 4px 0 0 10px;
}

.sidebar.close .logo-detail .logo-name{
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-link{
    height: 100%;
    padding-top: 20px;
}

.sidebar .nav-link li{
    position: relative;
    list-style: none;
    transition: .4s ease;
}

.sidebar .nav-link li:hover{
    background-color: #1d1b31;
}

.sidebar .nav-link li .icon-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-link li .icon-link{
    display: block;
}

.sidebar .nav-link li i,
.sidebar .nav-link li .submenu li a{
    height: 50px;
    min-width: 70px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    transition: .4s ease;
    cursor: pointer;
}

.sidebar.close .nav-link li i.arrow{
    display: none;
}

.sidebar .nav-link li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.sidebar.close .nav-link li span{
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-link li .submenu{
    padding: 0px 6px 0px 72px;
    background-color: #1d1b31;
    display: none;
    transition: all .4s ease;
}

.sidebar .nav-link li.show .submenu{
    display: block;
}

.sidebar .nav-link li:hover .submenu.blank{
    top: 50%;
}

.sidebar .nav-link li.show i.arrow{
    transform: rotate(-180deg);
}

.sidebar .nav-link li .submenu li a{
    white-space: nowrap;
    font-size: 18px;
}

.sidebar.close .nav-link li .submenu{
    position: absolute;
    display: block;
    left: -100%;
    top: -10px;
    margin: 0;
    opacity: 0;
    padding: 0 20px;
    border-radius: 0 8px 8px 0;
    transition: .4s ease;
}

.sidebar.close .nav-link > li:hover .submenu{
    opacity: 1;
    top: 0;
    left: 100%;
}

.sidebar.close ~ .home{
    left: 70px;
    width: calc(100% - 70px);
}

.sidebar.close .nav-link li .submenu li a{
    height: 35px;
    min-width: 70px;
    text-align: center;
    line-height: 30px;
    color: white;
    opacity: .7;
    font-size: 15px;
    transition: .4s ease;
    cursor: pointer;
}

.sidebar .nav-link li .submenu li.link-name{
    display: none;
}

.sidebar.close .nav-link li .submenu li.link-name{
    display: block;
}

.sidebar.close .nav-link li .submenu li.link-name a{
    opacity: 1;
    font-weight: bold;
}

.sidebar.close .nav-link li .submenu li:hover a{
    opacity: 1;
}

.sidebar .profile-detail img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 14px 0 10px;
    background-color: #111031;
    padding: 5px;
}

.sidebar .profile-detail{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .profile-detail .profile-name,
.sidebar .profile-detail .profile-job{
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.sidebar .profile-detail .profile-job{
    font-size: 12px;
    margin-bottom: 8px;
}

.sidebar.close .profile-detail .profile-name,
.sidebar.close .profile-detail .profile-job{
   display: none;
}

.home{
    position: relative;
    left: 260px;
    background-color: white;
    width: calc(100% - 260px);
    min-height: 100vh;
    transition: .4s ease;
}

.home .home-nav{
    height: 60px;
    display: flex;
    align-items: center;
}

.home .home-nav .bx-menu{
    color: black;
    font-size: 35px;
    margin-left: 15px;
}